<div class="d-flex align-items-stretch">
  <%= render 'shared/navbar' %>
  <% @img = ['https://static.ucraft.net/fs/userFiles/demo-to-thryliko/images/216-5-pop.jpg', 'https://static.ucraft.net/fs/userFiles/demo-to-thryliko/images/229-4-pop.jpg', 'https://static.ucraft.net/fs/userFiles/demo-to-thryliko/images/234-7-pop.jpg', 'https://static.ucraft.net/fs/userFiles/demo-to-thryliko/images/235-2-pop.jpg']  %>
  <div class="container p-4 align-self-center">
    <h1>Les cocktails</h1>
    <div class="d-flex flex-wrap">
      <% @cocktails.each do |cocktail|%>
        <div class="card m-3 bg-dark">
        <%= link_to "✕", cocktail_path(cocktail), class: 'text-right pr-3 pt-2 text-secondary',
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
        <%= link_to cocktail_path(cocktail) do %>

            <div class="card-body justify-content-center align-items-center">
              <h1 class="text-center"><i class="fas fa-cocktail"></i></h1>
              <h5 class="card-title text-center"><%= cocktail.name %></h5>
              <p class="text-secondary border-top pt-2">
                <% sentence = [] %>
                <% @doses.select { |dose| dose.cocktail_id == cocktail.id }.each do |dose|%>
                  <% sentence << Ingredient.find(dose.ingredient_id).name   %>
                <% end %>
                <%= sentence.join(' - ').truncate_words(7) %>
              </p>
            </div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to 'New Cocktail', new_cocktail_path, class: 'm-3 btn btn-primary' %>
  </div>


</div>
